<div class="col-lg-12 column">
  <% if @screencast.video_embed %>
    <% content_for(:screencast) do %>
      <div class="screencast">
        <%= @screencast.video_embed.html_safe %>
      </div>
    <% end %>
  <% end %>
  <% if @training %>
    <span class="series-title">
      <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-arrow-left") + " " + @training.title, training_path(@training[:slug]) %>
    </span>
  <% end %>
  <h1 class="screencast-title"><%= @screencast.title %></h1>
  <p><%= link_to("Adler Hsieh", "/author") %> posted at <%= (@screencast.display_date || @screencast.created_at).strftime("%Y-%m-%d") %></p>
  <hr />
  <div class="post <%= "col-lg-8" if @training %>">
    <%= @screencast.render_content %>
  </div>
  <% if @training %>
    <div class="col-lg-4">
      <table class="table table-hover screencast_list">
        <tr>
          <td class="title" onclick="return location.href = '<%= training_path(@training[:slug]) %>'"><%= @training.title %></td>
        </tr>
        <% @screencasts.each do |s| %>
          <tr class="<%= "success" if s == @screencast %>" onclick="return location.href = '<%= training_screencast_path(@training[:slug], s[:slug]) %>'">
            <td>
              <span class="play-button glyphicon glyphicon-play-circle"></span>
              <%= "#{(@screencasts.index(s)+1).to_s}. #{s.title}" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>

</div>


